In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Virat-Kohli-International-Cricket-Centuries.csv')
df

,No.,Runs,Against,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won
...,...,...,...,...,...,...,...,...,...
74,75,186,Australia,4,2,"Narendra Modi Stadium, Ahmedabad",Home,9-Mar-23,Drawn
75,76,121,West Indies,4,1,"Queen's Park Oval, Port of Spain",Away,20-Jul-23,Drawn
76,77,122*,Pakistan,3,1,"R. Premadasa Stadium, Colombo",Neutral,11-Sep-23,Won
77,78,103*,Bangladesh,3,2,"Maharashtra Cricket Association Stadium, Pune",Home,19-Oct-23,Won
78,79,101*,South Africa,3,1,"Eden Gardens, Kolkata",Home,5-Nov,Won

#### Reformatting columns for uniform access

In [3]:
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['no.', 'runs', 'against', 'position', 'innings', 'venue', 'ground',
       'date', 'result'],
      dtype='object')

In [4]:
df.rename(columns={'no.': 'no'}, inplace=True)
df.head()

,no,runs,against,position,innings,venue,ground,date,result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won

#### Inspect dtypes of all columns

In [5]:
df.dtypes

no           int64
runs        object
against     object
position     int64
innings      int64
venue       object
ground      object
date        object
result      object
dtype: object

## Analysis:

#### set index

In [6]:
df = df.set_index('no')

#### *runs* column is of 'object' datatype which can be converted to int by removing the * (not out)

In [7]:
df['dismissed'] = ~df['runs'].str.contains('\*')
df['runs'] = df['runs'].apply(lambda x: x.strip()[0: -1] if x.strip()[-1] == '*' else x)
df['runs'] = df['runs'].astype('int')
df.head()

,runs,against,position,innings,venue,ground,date,result,dismissed
no,,,,,,,,,
1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won,True
2,102,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won,False
3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won,True
4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won,True
5,100,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won,False

#### Create a new column 'City' by splitting venue at ','

In [8]:
df['city'] = df['venue'].apply(lambda x: x.split(',')[1].strip())
df.head()

,runs,against,position,innings,venue,ground,date,result,dismissed,city
no,,,,,,,,,,
1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won,True,Kolkata
2,102,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won,False,Dhaka
3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won,True,Visakhapatnam
4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won,True,Guwahati
5,100,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won,False,Dhaka

#### Ground is 'object' datatype Home/Away/Neutral which can be converted to categorical data

In [9]:
df['ground'].value_counts()

Home       37
Away       36
Neutral     6
Name: ground, dtype: int64

In [10]:
df['ground'] = df['ground'].astype('category')

#### Date is an 'object' datatype which can be converted to datetime format

In [11]:
df.loc[df['date'] == '5-Nov', 'date'] = '5-Nov-23'

In [15]:
df['date'] = pd.to_datetime(df['date'], format="%d-%b-%y")
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df.head()

,runs,against,position,innings,venue,ground,date,result,dismissed,city,year,month
no,,,,,,,,,,,,
1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,2009-12-24,Won,True,Kolkata,2009,12
2,102,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,2010-01-11,Won,False,Dhaka,2010,1
3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,2010-10-20,Won,True,Visakhapatnam,2010,10
4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,2010-11-28,Won,True,Guwahati,2010,11
5,100,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,2011-02-19,Won,False,Dhaka,2011,2

In [13]:
df.dtypes

runs                  int32
against              object
position              int64
innings               int64
venue                object
ground             category
date         datetime64[ns]
result               object
dismissed              bool
city                 object
dtype: object

# Summary of changes to be made to existing df

### Venue

<hr>

### Result
#### Create new column with only 3 values - {Won, Lost, Drawn}
<hr>

# Data Pre-processing

### In which year did he score the most number of centuries

In [17]:
df['year'].value_counts().idxmax()

2017

### In which month did he score the most number of centuries?

In [20]:
months = ['', 
          'January', 'February', 'March', 'April', 'May', 'June', 
          'July', 'August', 'September', 'October', 'November', 'December']
months[df['month'].value_counts().idxmax()]

'October'

### What was his highest score among all the matches that India won?

In [25]:
df.query('result == "Won"')['runs'].max()

254

#### Since the dataset does not include a differentiation in ODI, Test, I20 matches, this question does not provide a reliable answer.

What was his highest score among all the matches that India lost?

### How many times did India win when he scored a century?

In [32]:
df['result'].value_counts()['Won']

54

### Against which team did he score the most number of centuries?

In [35]:
df['against'].value_counts().idxmax().strip()

'Australia'

### Against which team did he score the least number of centuries?

In [36]:
df['against'].value_counts().idxmin().strip()

'Zimbabwe'

### At which venue did he score the most number of centuries?

In [40]:
df['venue'].value_counts().idxmax().strip()

'Adelaide Oval, Adelaide'

In [41]:
df['city'].value_counts().idxmax().strip()

'Adelaide'

### At which batting position did he score the most/least number of centuries?

How many times did he score more than 200 runs?

How many centuries did he score at Home, Away, Neutral?

### This is not a rich dataset